@model OnlineOrdering.Models.OrderModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "orderForm" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderId)
        <div class="form-group">
            @Html.LabelFor(model => model.OrderDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="control-label col-md-4" style="text-align: left">
                @Model.OrderDateTime
                @Html.HiddenFor(model => model.OrderDateTime)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
               @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.CustomerDictionary.Select(x => new { value = x.Key, text = x.Value }), "value", "text"), "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Order" class="btn btn-default" />
        </div>
    </div>
}

